@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
	--main-bg: hsl(233, 47%, 7%);
	--card-bg: hsl(244, 38%, 16%);
	--soft-violet: hsl(277, 64%, 61%);
	--main-heading: hsl(0, 0%, 100%);
	--paragraph: hsla(0, 0%, 100%, 0.75);
	--state-heading: hsla(0, 0%, 100%, 0.6);
	--font-inter: 'Inter', sans-serif;
	--font-lexend: 'Lexend Deca', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;


}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 1.25rem 1.25rem;
	background-color: var(--main-bg);


}

.container {
	max-width: 23.4375rem;
	max-width: 100%;
	height: auto;
	display: block;
	background-color: var(--card-bg);
	border-radius: .625rem;


}

.container .img-card {


	border-radius: .625rem 0 0;
	background-color: var(--soft-violet);
	border-radius: 1.25rem .625rem 0 0;





}

.img-card img {
	max-width: 100%;
	scale: 1.04;
	border-radius: .625rem .625rem 0 0;
	opacity: 90%;
	mix-blend-mode: multiply;



}

.container .content {
	text-align: center;

}

.content h1 {
	margin: 1.25rem;
	font-weight: 700;
	font-family: var(--font-inter);
	color: var(--main-heading);
}

.content h1 span {
	color: var(--soft-violet);
}

.content p {
	font-family: var(--font-inter);
	font-weight: 400;
	line-height: 1.5625rem;
	color: var(--paragraph);
}

.companie,
.temp,
.queries {
	display: block;
	margin: 1.25rem;
}

.companie ul li,
.temp ul li,
.queries ul li {
	list-style: none;
	color: var(--state-heading);
	font-family: var(--font-inter);
	text-transform: uppercase;

}

.companie ul li:nth-child(1) {
	font-weight: 700;
	color: var(--main-heading);
	font-size: 1.5625rem;


}

.temp ul li:nth-child(1) {
	font-weight: 700;
	color: var(--main-heading);
	font-size: 1.5625rem;


}

.queries ul li:nth-child(1) {
	font-weight: 700;
	color: var(--main-heading);
	font-size: 1.5625rem;


}

@media screen and (max-width:320px) {
	.content h1 {
		font-size: 1.75rem;
	}

	.content p {
		margin: 0 .625rem;
	}


}

@media screen and (min-width:415px) {

	.container {

		display: flex;
		flex-direction: row-reverse;
		justify-content: left;
		max-width: 1444px;
		height: 43.75rem;

	}

	.content {
		padding: 1.25rem;
	}

	.container .img-card {
		width: 600px;
		height: 100%;
		border-radius: 0 0;
	}

	.img-card img {
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	.content h1 {
		margin: 1.25rem 6.25rem;
		text-align: left;
		font-size: 3em;

	}

	.content p {
		font-size: 2em;
		margin: 3.125rem 6.25rem;
		line-height: 3.125rem;
		text-align: left;

	}

	.companie,
	.temp,
	.queries {
		display: inline-flex;
		transform: translate(-30px);

	}

	.companie ul li,
	.temp ul li,
	.queries ul li {
		text-align: left;

	}

	.companie ul li:nth-child(1) {
		font-size: 2.5em;
	}

	.temp ul li:nth-child(1) {
		font-size: 2.5em;
	}

	.queries ul li:nth-child(1) {
		font-size: 2.5em;
	}

	.companie ul li:nth-child(2) {	text-align: left;
		letter-spacing: .3125rem;
		margin: .3125rem;}

	.temp ul li:nth-child(2) {	text-align: left;
		letter-spacing: .3125rem;
		margin: .3125rem;}


	.queries ul li:nth-child(2) {
		text-align: left;
		letter-spacing: .3125rem;
		margin: .3125rem;
	}


}